/* custom-default.css */
/* @theme custom-default */

@import 'gaia';

/* Add custom styles here */
code {
  font-family: 'Fira Code', monospace;
}

div#presentation {
  display: flex;
  justify-content: center;
}

div#presentation > img {
  vertical-align: middle;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-right: 1.1em;
}

div#presentation h1 {
  margin-top: 0px;
}

div#presentation h1, h5 {
  text-align: left;
}

div#end {
  display: flex;
  justify-content: center;
}

@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css'